@import "reset";

@media(max-width:767px) {
    
    body {
        header {
            text-align: center;
            font-size: 3rem;
            background-color: #660708;
        }
        main {
            display: grid;
            grid-template-rows: 1fr 2fr 1fr;
            section:first-of-type {
                grid-row: 2/3;
                background-color: #161A1D;
                color: #fff;
                h2 {
                    font-size: 2rem;
                    color: #fff;
                }
                p {
                    color: #BA181B;
                }
            }
            section:nth-of-type(2) {
                grid-row: 3/4;
                background-color: #A4161A;
                color: #161A1D;
                h2 {
                    text-align: center;
                }
                ul {
                    list-style-type: none;
                    padding: 0;
                    margin-left: 50px;
                }

            }
            section:last-of-type {
                grid-row: 1/2;
                border: 1px solid #000;
                background-color: #B1A7A6;
                figure {
                    img {
                        width: 100vw;
                    }
                }
            }

            button {
                background-color: #B1A7A6;
                border: none;
                border-radius: 5px;
                padding: 15px;
            }
        }
    }
}