@import "reset";


@media(max-width:767px) {
    body {
        header {
            text-align: center;
            font-size: 3rem;
            background-color: #660708;
        }
        main {
            display: grid;
            grid-template-rows: 1fr 2fr 1fr;

            section:first-of-type {
                grid-row: 2/3;
                background-color: #161A1D;
                color: #fff;

                h2 {
                    font-size: 2rem;
                    color: #fff;
                }

                p {
                    color: #BA181B;
                }
            }
            section:nth-of-type(2) {
                grid-row: 3/4;
                background-color: #A4161A;
                color: #161A1D;
                h2 {
                    text-align: center;
                }
                ul {
                    list-style-type: none;
                    padding: 0;
                    margin-left: 50px;
                }

            }
            section:last-of-type {
                grid-row: 1/2;
                border: 1px solid #000;
                background-color: #B1A7A6;
                figure {
                    img {
                        width: 100vw;
                    }
                }
            }

            button {
                background-color: #B1A7A6;
                border: none;
                border-radius: 5px;
                padding: 15px;
            }
        }
    }
}

@media(min-width:768px){
    body {
        height: 100vh;
        width: 100vw;
        overflow-y: hidden;
        
        header {
            text-align: center;
            font-size: 3rem;
            font-weight: 800;
            color:#000;
            padding: 25px;
            height: 10vh;
            background:url("https://media.discordapp.net/attachments/1052878765010718771/1064578793680949248/68608434-ruban-jaune-scC3A8ne-de-crime-ligne-de-police-do-not-cross-bande-illustration-de-vecteur-de-style-plat-.png?width=568&height=454");
            background-size:cover;
        }
        main {
            display: grid;
            grid-template-columns: 25vw 50vw 25vw;
            height: 90vh;
            width: 100vw;

            section:first-of-type {
                grid-column: 1/2;

                h2 {
                    font-size: 2rem;
                    margin: 5vh 0 5vh 0;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #161A1D;
                }

                p {
                    color: #BA181B;
                    margin:5px;
                }
            }
            section:nth-of-type(2) {
                grid-column: 2/3;
                border-radius: 20px;
                
                h2 {
                    text-align: center;
                    margin: 5vh 0 5vh 0;
                    font-size: 2rem;
                    font-weight: 700;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #161A1D;
                }
                ul {
                    list-style-type: none;
                    padding: 0;
                    margin-left: 30px;
                    li {
                        padding: 15px;
                    }
                    li:hover {
                        background-color:grey;
                    }
                }

            }
            section:last-of-type {
                grid-column: 3/4;
                border: 1px solid #000;
                
                figure {
                    img {
                        width: 100%;
                    }
                }
            }

            button {
                border: none;
                border-radius: 5px;
                padding: 15px;
                text-align: center;
            }
        }
    }
}